# Compiler files
contracts/cache/
contracts/out/

# Ignores development broadcast logs
!/broadcast
contracts/broadcast/*/31337/
contracts/broadcast/**/dry-run/

# Dotenv files (ignore .env and .env.local files anywhere in the repository)
**/.env
**/.env.local

# Node modules (ignore node_modules directories anywhere in the repository)
**/node_modules/

# Temporary directories (ignore temp or temporary directories anywhere in the repository)
**/temp/
**/temporary/
